.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: var(--main-form-color);
}

.brand {
  margin-left: 50px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Lumanosimo', cursive;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 100px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.nav a:hover {
  color: var(--main-btn-color);
}

.cart-icon {
  position: relative;
}

.cart-icon-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
}

.mobile-cart-icon-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3px;
  right: 63px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
}

.hamburger {
  display: none;
  width: 30px;
}

.line {
  height: 4px;
  margin-bottom: 5px;
  background-color: black;
}

.mobile-menu {
  display: flex;
  height: 100vh;
  width: 60vw;
  background-color: black;
  z-index: 100;
  font-size: 1rem;
  position: absolute;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 10px 0 0 10px;
}

.mobile-nav a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .brand {
    font-size: 1.3rem;
  }

  .nav {
    column-gap: 50px;
  }

  .nav a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav {
    color: white;
  }
}
