.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: var(--main-form-color);
}

.brand {
  margin-left: 50px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Lumanosimo', cursive;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  column-gap: 100px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.nav a:hover {
  color: var(--main-btn-color);
}

.cart-icon {
  position: relative;
}

.cart-icon-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
}
