.container {
  height: 92vh;
  background-color: var(--main-bg-color);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  height: 75vh;
}

.form {
  background-color: var(--main-form-color);
  padding: 50px 100px;
  border-radius: 50px;
}

.line input,
textarea {
  height: 25px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
  padding-left: 2px;
}

.container h2 {
  font-family: 'Lumanosimo', cursive;
  font-size: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lumanosimo', cursive;
  font-size: 1.5rem;
}

.line .message {
  height: 180px;
}

.confirm {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.switch {
  margin-left: 5px;
}
